.main{
	border: 1px solid lightgray;
	display: inline-block;
    box-shadow: 0 3px 4px 0;
    width: 100%;
    height: 50px;
}
.box1{
	display: flex;
	justify-content: space-between;
}
.icon1{
	margin: 5px;
}
.box2{
	display: flex;
}
.icons{
	margin: 0px;
    padding: 6px 0px 0px 30px;
}
p{
	/*font-family: 'Comforter', cursive;*/
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Comforter', cursive;
    font-size: 30px;
}
p:hover{
	color: slateblue;
	
}